# Node.js Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Artifacts
dist/
out/
release/

# Electron Files
/resources/pandoc/  # Ignore bundled Pandoc (if built separately)
*.asar  # Ignore Electron ASAR archives

# OS-Specific Files
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini  # Windows

# Git & Editor Files
.git/
*.log
*.lock
.vscode/
.idea/
